site_name: Principios de Inteligencia Artifical
site_description: Notas para el curso de Principios de Inteligencia Artificial
site_author: Juan Camilo Macias, Institución Universitaria Digital de Antioquia
site_url: https://jcphysica5.github.io/Principios_de_IA_repo/


theme:
  name: material
  font:
    text: Montserrat
    code: Red Hat Mono
  icon:
    logo: material/robot
  favicon: assets/favicon.ico
  features:
    - navigation.footer
    - content.code.copy
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - mermaid2:
      arguments:
        theme: |
          ^(JSON.parse(__md_get("__palette").index == 1)) ? 'dark' : 'light'

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - css/custom.css
  - https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css


nav:
  - Presentación del curso: index.md
  - Deep Learning: DeepLearning/deeplearning.md
  - Templates y Output Parsers: Unidad1/modulo1.md
  - Cadenas y memoria: Unidad2/modulo2.md
  - Cargadores de Documentos: Unidad3/modulo3.md

